PATH_DATA=/your/data/path/


##################
#### FICHIERS ####
##################

#### !FICHIERS ####


##################
#### VARIABLE ####
##################
DATA_ANN_DEF_YR_STAR=2012
DATA_ANN_DEF_YR_END=2024
## Docker ##

#### !VARIABLE ####


###############
#### LIENS ####
###############
SQR_TX_METRO=https://www.data.gouv.fr/datasets/donnees-changement-climatique-sqr-series-quotidiennes-de-reference?resource_id=8f9858bd-aefc-4ac3-8d89-18b80f64334a
SQR_TN_METRO=https://www.data.gouv.fr/datasets/donnees-changement-climatique-sqr-series-quotidiennes-de-reference?resource_id=9d5a3a0a-1ff6-4c97-aa21-27cf5ba9a095
#### !LIENS ####
